[Unit]
Description=MQTT Vibration sensor
After=network.target

[Service]
# Hack because Python can't cope with a DynamicUser with no HOME
User=root
ExecStart=/usr/local/bin/mqtt-vibration.py


[Install]
WantedBy=multi-user.target